* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {

  color: white;

  background: radial-gradient(circle at 50% 50%, #0a0035 0%, #07002d 70%, #030018 100%) no-repeat center center fixed;
  background-size: cover;
}
