body {
  margin: 0;
  /* min-width: 320px; */
  /* min-height: 100vh; */

  color: white;

  background: url('./assets/images/blue-gradient-bg.png') no-repeat center center fixed;
  background-size: cover;
}
